<a href="https://colab.research.google.com/github/pranilthorat/almabetter-capstone-project-3-Airline-Passenger-Referral-Prediction-classification-/blob/main/github_commit_for_capstone_project(3)_airline_passenger_refferal_classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Data includes airline reviews from 2006 to 2019 for popular airlines around the world with
multiple choice and free text questions. Data is scraped in Spring 2019. The main objective
is to predict whether passengers will refer the airline to their friends.

Feature descriptions briefly as follows:

airline: Name of the airline.

overall: Overall point is given to the trip between 1 to 10.

author: Author of the trip

reviewdate: Date of the Review 

customer review: Review of the customers in free text format


aircraft: Type of the aircraft

travellertype: Type of traveler (e.g. business, leisure)

cabin: Cabin at the flight

date flown: Flight date

seat comfort: Rated between 1-5

cabin service: Rated between 1-5

foodbev: Rated between 1-5

entertainment: Rated between 1-5

groundservice: Rated between 1-5

valueformoney: Rated between 1-5

recommended: Binary, target variable.

route= from one location to another location its find by me.

want to study about this for eda and ml model

author: Author of the trip,customer review: Review of the customers in free text format,aircraft: Type of the aircraft,seat comfort: Rated between 1-5, cabin service: Rated between 1-5, foodbev: Rated between 1-5, entertainment: Rated between 1-5, groundservice: Rated between 1-5, valueformoney: Rated between 1-5

In [5]:
# Importing the libraries
import numpy as np
import pandas as pd
from numpy import math

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error

import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stat
from scipy import stats
import pylab
from sklearn.linear_model import LogisticRegression
%matplotlib inline

In [6]:
df=pd.read_excel('/content/drive/MyDrive/data_airline_reviews.xlsx')
df.head()

            airline  overall  ... value_for_money recommended
0               NaN      NaN  ...             NaN         NaN
1  Turkish Airlines      7.0  ...             4.0         yes
2               NaN      NaN  ...             NaN         NaN
3  Turkish Airlines      2.0  ...             1.0          no
4               NaN      NaN  ...             NaN         NaN

[5 rows x 17 columns]

In [7]:
df.shape

(131895, 17)

In [8]:
df.describe()

            overall  seat_comfort  ...  ground_service  value_for_money
count  64017.000000  60681.000000  ...    39358.000000     63975.000000
mean       5.145430      2.952160  ...        2.692820         2.943962
std        3.477532      1.441362  ...        1.612215         1.587370
min        1.000000      1.000000  ...        1.000000         1.000000
25%        1.000000      1.000000  ...        1.000000         1.000000
50%        5.000000      3.000000  ...        3.000000         3.000000
75%        9.000000      4.000000  ...        4.000000         4.000000
max       10.000000      5.000000  ...        5.000000         5.000000

[8 rows x 7 columns]

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 131895 entries, 0 to 131894
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   airline          65947 non-null  object
 1   overall          64017 non-null  float64
 2   author           65947 non-null  object
 3   review_date      65947 non-null  object
 4   customer_review  65947 non-null  object
 5   aircraft         19718 non-null  object
 6   traveller_type   39755 non-null  object
 7   cabin            63303 non-null  object
 8   route            39726 non-null  object
 9   date_flown       39633 non-null  object
 10  seat_comfort     60681 non-null  float64
 11  cabin_service    60715 non-null  float64
 12  food_bev         52608 non-null  float64
 13  entertainment    44193 non-null  float64
 14  ground_service   39358 non-null  float64
 15  value_for_money  63975 non-null  float64
 16  recommended      64440 non-null  object
dtypes: float64(7), object(10)
memory usage: 17.1+ MB

In [10]:
df.isnull().sum()

airline             65948
overall             67878
author              65948
review_date         65948
customer_review     65948
aircraft           112177
traveller_type      92140
cabin               68592
route               92169
date_flown          92262
seat_comfort        71214
cabin_service       71180
food_bev            79287
entertainment       87702
ground_service      92537
value_for_money     67920
recommended         67455
dtype: int64

In [11]:
df['airline'].value_counts()

Spirit Airlines           2934
American Airlines         2867
United Airlines           2829
British Airways           2811
Cathay Pacific Airways    2402
                          ...
QantasLink                 105
Adria Airways               85
Air Arabia                  80
Tunisair                    71
Thai Smile Airways          48
Name: airline, Length: 81, dtype: int64

# droping unneccesary columns

In [12]:
df.columns

Index(['airline', 'overall', 'author', 'review_date', 'customer_review',
       'aircraft', 'traveller_type', 'cabin', 'route', 'date_flown',
       'seat_comfort', 'cabin_service', 'food_bev', 'entertainment',
       'ground_service', 'value_for_money', 'recommended'],
      dtype='object')